$sizeUnit: rem;
$marginKey: 'm';
$paddingKey: 'p';
$separator: '-';
$sizes: (
    ('0', 0),
    ('xxs', 0.125),
    ('xs', 0.25),
    ('sm', 0.5),
    ('1', 1),
    ('2', 2),
    ('4', 4),
    ('8', 8),
);
$positions: (
    ('t', 'top'),
    ('r', 'right'),
    ('b', 'bottom'),
    ('l', 'left')
);

@function sizeValue($key, $value) {
    @return if($key == 'none', 0, $value + $sizeUnit);
}

@each $size in $sizes {
    $sizeKey: nth($size, 1);
    $sizeValue: nth($size, 2);
    .#{$marginKey}#{$separator}#{$sizeKey} {
        margin: sizeValue($sizeKey, $sizeValue) !important;
    }
    .#{$paddingKey}#{$separator}#{$sizeKey} {
        padding: sizeValue($sizeKey, $sizeValue) !important;
    }
    @each $position in $positions {
        $posKey: nth($position, 1);
        $posValue: nth($position, 2);
        .#{$marginKey}#{$posKey}#{$separator}#{$sizeKey} {
            margin-#{$posValue}: sizeValue($sizeKey, $sizeValue) !important;
        }
        .#{$paddingKey}#{$posKey}#{$separator}#{$sizeKey} {
            padding-#{$posValue}: sizeValue($sizeKey, $sizeValue) !important;
        }
    }
}

@each $position in $positions {
    $posKey: nth($position, 1);
    $posValue: nth($position, 2);

    .m#{$posKey}-auto {
        margin-#{$posValue}: auto;
    }
}

.widget {
    margin-bottom: 20px;
}
.widget-title {
    font-size: 18px;
    font-weight: bold;
}

li.recentcomments {
    padding: 0.5em 0.75em;
}

section.menu {
    ul {
        @extend .menu-list;
        list-style: none;
        margin: 0;
    }
    margin-bottom: 20px;
}

.entry-footer {
    &>span {
        margin-right: 0.4rem;
        display: block;
    }
}